*

!*/
!.gitignore
!.cproject
!.project
!.clang-format
!*.c
!*.cpp
!*.h
!*.hpp
!*.jpg
!*.ioc
!*.md
!*.s
!*_FLASH.ld
!*.sh
!*.pdf
!*.xlsx
~$*.xlsx
!Doxyfile
!CMakeLists.txt
CMakeFiles
Middlewares
Drivers
